:root {
    /* --theme-color: #3274d6; */
    --theme-color: #f17777;
    --font-color: #ffffff;
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
}

body {
    /* background-image: linear-gradient(215deg, #ff7878 0%, #367d3e 74%) */
    background-image: linear-gradient(315deg, #ffabab 0%, #7ee8fa 74%);
}

.signup {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.signup h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.signup form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.signup form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--theme-color);
    color: var(--font-color);
}
.signup form input[type="password"], .signup form input[type="text"]{
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.signup form input[type="submit"] {
    width: 75%;
    padding: 15px;
    margin: 15px 0;
    background-image: linear-gradient(313deg, #f9c5d1 0%, #9795ef 94%);
    border: 0;
    cursor: pointer;
    font-weight: bold;
    border-radius: 30px;
    color: var(--font-color);
    transition: background-color 0.2s;
}

.signup form [type="text"]:focus,
.signup form [type="password"]:focus {
    outline: transparent;
    border-radius: 6px;
    box-shadow: 1.5px 1px 3px #15ab47;
}

.signup form input[type="submit"]:hover {
  /* background-image: linear-gradient(83deg, #f9c5d1 10%, #9795ef 94%); */
    /* background-image: linear-gradient(83deg, #fbd6de 18%, #72e7f4 56%, #c4c2f6 84%); */
    background-image: linear-gradient(87deg, #ffff94, #f9c5d1 35%, #9795ef 99%);
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 2vh;
}

.header .logo {
    display: flex;
    align-items: center;
    color: var(--font-color);
    font-weight: bold;
    font-size: x-large;
}

.header .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}

.header ul {
    list-style-type: none;
}

.header a, a:visited {
    text-decoration: none;
    color: var(--font-color);
}

.header .github {
    display: flex;
}

.header .text-logo {
    width: 3.5rem;
}

.header .cat-logo {
    width: 1.8rem;
}

.alert-fail {
    text-align: center;
    background-color: rgb(247, 56, 56);
    color: var(--font-color);
    padding: 5px 10px;
    width: 90%;
}

.container {
    display: grid;
    grid-template-columns: 60% 40%;
}

.image {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.image img {
    width: 90%;
    height: 85vh;
    object-fit: cover;
    box-shadow: 6px 6px 0px 15px rgba(1, 70, 1, 0.55);
}

#signupForm #button {
    color: rgb(163, 165, 168);
    text-align: center;
    text-decoration: none;
    margin-bottom: 15px;
}

#signupForm #button:hover {
    color: #138539;
}
